<section class="content-header">
    <h1>
        Dashboard
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-11">
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Category list</h3>
                    <div class="box-tools">
                        <form method="GET" action="/admin/categories/search">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="key_word" class="form-control pull-right" placeholder="Search by name">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-hover table-responsive">
                        <tr>
                            <th class="width-30-percent">Name</th>
                            <th class="width-55-percent">Description</th>
                            <th class="width-15-percent text-center">Total Book</th>
                        </tr>
                        <% if (dataRequest.items.data.length > 0) { %>
                            <% dataRequest.items.data.forEach(function(data) { %>
                            <tr onClick="window.location='/admin/categories/detail/<%= data.id %>'" class="cursor-hover">
                                <td><%= data.name %></td>
                                <td class="lite-description"><%= data.description %></td>
                                <td class="text-center"><%= data.books_count %></td>
                            </tr>
                            <% }) %>
                        <% } %>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
</section>
