<section class="content-header">
    <h1><%= __('Categories') %></h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-11">
            <div class="col-1 offset-1">
                <a href="/admin/categories/create" class="btn btn-info"><i class="fa fa-plus plus-icon"></i><%= __('Create category') %></a>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-10 offset-1">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><%= __('Category manager') %></h3>
                    <div class="box-tools">
                        <form method="GET" action="/admin/categories/search">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="key_word" class="form-control pull-right" placeholder="<%= __('Search by name') %>">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-hover table-responsive">
                        <tr>
                            <th class="width-15-percent"><%= __('Vietnamese name') %></th>
                            <th class="width-15-percent"><%= __('English name') %></th>
                            <th class="width-15-percent"><%= __('Japanese name') %></th>
                            <th class="width-45-percent"><%= __('Description') %></th>
                            <th class="width-10-percent text-center"><%= __('Total Book') %></th>
                        </tr>
                        <% if (dataRequest.items.data.length > 0) { %>
                            <% dataRequest.items.data.forEach(function(data) { %>
                            <tr onClick="window.location='/admin/categories/<%= data.id %>/edit_category'" class="cursor-hover">
                                <td><%= data.name_vi %></td>
                                <td><%= data.name_en %></td>
                                <td><%= data.name_jp %></td>
                                <td class="lite-description"><%= data.description %></td>
                                <td class="text-center"><%= data.books_count %></td>
                            </tr>
                            <% }) %>
                        <% } %>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
</section>
