<section class="content-header">
    <h1>
        <%= __('Dashboard') %>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-4 col-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon"><i class="ion ion-person-stalker"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"><%= __('Total User') %></span>
                    <span class="info-box-number"><%= totalUser %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-book-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"><%= __('Book Have Owner') %></span>
                    <span class="info-box-number"><%= totalBookHaveOwner %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-12">
            <div class="info-box bg-purple">
                <span class="info-box-icon"><i class="ion ion-person"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"><%= __('User Have Book') %></span>
                    <span class="info-box-number"><%= totalUserHaveBook %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
