<section class="content-header">
    <h1><%= __('Reputation Log') %></h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-11">
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-11 offset-1">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><%= __('Log Repulation Manager') %></h3>
                    <div class="box-tools">
                        <form method="GET" action="/admin/log/search" class="form-log">
                            <div class="input-group input-group-sm" >
                                <input type="text" name="key_word" class="form-control pull-right" placeholder="<%= __('Search by name') %>">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center user"><%= __('User') %></th>
                            <th class="text-center point"><%= __('Received') %></th>
                            <th class="text-center"><%= __('At') %></th>
                            <th class="text-left"><%= __('By') %></th>
                        </tr>
                        <% if (typeof dataRequest != undefined) { %>
                            <% if (typeof dataRequest != undefined && dataRequest.length > 0) { %>
                                <% dataRequest.forEach(function(data, index) { %>
                                    <% switch (data.log_type) {
                                        case config.share_book: %>
                                            <tr>
                                                <td class="user">
                                                    <img class="owner-image-home img-circle" src="<%= data.user.avatar != null ? data.user.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail"
                                                 alt="<%= __('Avatar') %>">
                                                    <a href="/users/<%= data.user.id %>"><%= data.user.name %></a>
                                                </td>
                                                <td><%= data.point %> <%= __('points') %>
                                                </td>
                                                <td>
                                                    <%= data.created_at %>
                                                </td>
                                                <td>
                                                    <%= __('Share') %> <a href="/books/<%= data.book.id %>"><%= data.book.title %></a>
                                                </td>
                                            </tr>
                                        <% break;
                                        case config.add_owner: %>
                                            <tr>
                                                <td class="user">
                                                    <img class="owner-image-home img-circle" src="<%= data.user.avatar != null ? data.user.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail"
                                                 alt="<%= __('Avatar') %>">
                                                    <a href="/users/<%= data.user.id %>"><%= data.user.name %></a>
                                                </td>
                                                <td><%= data.point %> <%= __('points') %>
                                                </td>
                                                <td>
                                                    <%= data.created_at %>
                                                </td>
                                                <td>
                                                    <%= __('Share') %> <a href="/books/<%= data.book.id %>"><%= data.book.title %></a>
                                                </td>
                                            </tr>
                                        <% break;
                                        case config.approve_borrow: %>
                                            <tr>
                                                <td class="user">
                                                    <img class="owner-image-home img-circle" src="<%= data.user.avatar != null ? data.user.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail"
                                                 alt="<%= __('Avatar') %>">
                                                    <a href="/users/<%= data.owner.id %>"><%= data.owner.name %></a>
                                                </td>
                                                <td><%= data.point %> <%= __('points') %></td>
                                                <td>
                                                    <%= data.created_at %>
                                                </td>
                                                <td>
                                                    <%= __('approve for') %> <a href="/users/<%= data.user.id %>"><%= data.user.name %></a>
                                                    <%= __('to borrow') %> <a href="/books/<%= data.book_pivot.id %>"><%= data.book_pivot.title %></a>
                                                </td>
                                            </tr>
                                        <% break;
                                        case config.be_upvoted: %>
                                            <tr>
                                                <td class="user">
                                                    <img class="owner-image-home img-circle" src="<%= data.review_owner.avatar != null ? data.review_owner.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail"
                                                 alt="<%= __('Avatar') %>">
                                                    <a href="/users/<%= data.user_vote.id %>"><%= data.review_owner.name %></a>
                                                </td>
                                                <td><%= data.point %> <%= __('points') %></td>
                                                <td><%= data.created_at %></td>
                                                <td><a href="/books/view-review/<%= data.review.id %>"><%= __('Review') %></a> <%= __('was upvoted by') %> <a href="/users/<%= data.user_vote.id %>"><%= data.user_vote.name %></td>
                                            </tr>
                                        <% break;
                                        case config.be_followed: %>
                                            <tr>
                                                <td class="user">
                                                    <img class="owner-image-home img-circle" src="<%= data.following.avatar != null ? data.following.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail"
                                                 alt="<%= __('Avatar') %>">
                                                    <a href="/users/<%= data.following.id %>"><%= data.following.name %></a>
                                                </td>
                                                <td><%= data.point %> <%= __('points') %> </td>
                                                <td>
                                                    <%= data.created_at %>
                                                </td>
                                                <td> <%= __('be followed by') %> <a href="/users/<%= data.follower.id %>"><%= data.follower.name %></a>
                                                </td>
                                            </tr>
                                        <% break;
                                        default: %>
                                        <tr>
                                            <td colspan="4"><%= __('Errors') %></td>
                                        </tr>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <%- paginate %>
                </ul>
            </nav>
        </div>
    </div>
</section>
