<div class="space-50"></div>
<section class="relative">
    <div class="container">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="notification">
                        <div class="row event-list">
                            <div class="col-xs-12 col-xsm-8 col-sm-offset-1 col-md-10">
                                <h2><strong>Request</strong></h2>
                                <div class="event-item wow fadeInRight">
                                    <% if (dataRequest && dataRequest.item.data.length && dataRequest.item.total) { %>
                                        <% dataRequest.item.data.forEach(function(data) { %>
                                            <div class=" notificaiton-box seen">
                                                <div class="media click-notification">
                                                    <div class="media-left">
                                                        <img src="<%= data.user_request.avatar ? data.user_request.avatar : '/images/data.user_request/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="space-10"></div>
                                                        <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span>
                                                        <div class="modal fade" id="myModal<%= data.id %>" role="dialog">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content modal-box">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Request Edit Book</h4>
                                                                    </div>
                                                                    <div class="modal-body modal-text">
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th class="col-xs-6">Information Old</th>
                                                                                    <th class="col-xs-6">Information New</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="theme">Title:</td>
                                                                                    <td><span class="content-edit-book"><%= data.current_book_info.title %></span></td>
                                                                                    <% if (data.current_book_info.title == data.title) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="content-edit-book"><%= data.title %></span></td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="theme">Discrition:</td>
                                                                                    <td><span class="content-edit-book more"><%= data.current_book_info.description %></span></td>
                                                                                    <% if (data.current_book_info.description == data.description) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="more content-edit-book"><%= data.description %></span>
                                                                                        </td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="theme">Author:</td>
                                                                                    <td><span class="content-edit-book"><%= data.current_book_info.author %></span></td>
                                                                                    <% if (data.current_book_info.author == data.author) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="content-edit-book"><%= data.author %></span></td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="theme">Publish Date:</td>
                                                                                    <td><span class="content-edit-book"><%= data.current_book_info.publish_date %></span></td>
                                                                                    <% if (Date.parse(data.current_book_info.publish_date) == Date.parse(data.publish_date)) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="content-edit-book"><%= data.publish_date %></span></td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="theme">Category:</td>
                                                                                    <td><span class="content-edit-book"><%= data.current_book_info.category.name %></span></td>
                                                                                    <% if (data.current_book_info.category.id == data.category.id) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="content-edit-book"><%= data.category.name %></span>
                                                                                        </td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="theme">Office:</td>
                                                                                    <td><span class="content-edit-book"><%= data.current_book_info.office.name %></span></td>
                                                                                    <% if (data.current_book_info.office.id == data.office.id) { %>
                                                                                        <td>    Not Change</td>
                                                                                    <% } else { %>
                                                                                        <td><span class="content-edit-book"><%= data.office.name %></span>
                                                                                        </td>
                                                                                    <% } %>
                                                                                </tr>
                                                                                <% if(data.update_media != null) { %>
                                                                                    <% data.current_book_info.media.forEach(function(old_data,index) { %>
                                                                                    <tr>
                                                                                        <% var check = 0 %>
                                                                                        <td class="theme">Image<%= index +1 %></td>
                                                                                        <% data.update_media.forEach(function(new_data) { %>
                                                                                            <% if (old_data.id == new_data.media_id ) {%>
                                                                                            <% check = 1 %>
                                                                                                <td><img src="<%= old_data.web.medium_path %>" alt="library"></td>
                                                                                                <td><span><img src="<%= new_data.web.medium_path%>" alt="library"></span>
                                                                                                </td>
                                                                                            <% } %>
                                                                                        <% }) %>
                                                                                        <% if (check != 1) {%>
                                                                                            <td><img src="<%= old_data.web.medium_path %>" alt="library"></td>
                                                                                            <td>Not change</td>
                                                                                        <% } %>
                                                                                    </tr>
                                                                                    <% }) %>
                                                                                <% } %>
                                                                                <% if(data.update_media != null) { %>
                                                                                    <% data.update_media.forEach(function(new_data) { %>
                                                                                        <tr>
                                                                                            <% if (new_data.media_id == null) { %>
                                                                                                <td class="theme">New Image</td>
                                                                                                <td></td>
                                                                                                <td>
                                                                                                    <span><img src="<%= new_data.web.medium_path%>" alt="library"></span>
                                                                                                </td>
                                                                                            <% } %>
                                                                                        </tr>
                                                                                    <% }) %>
                                                                                <% } %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form action="/admin/approve-update-request/<%= data.id %>" method="post" name="form-approve-update-request">
                                                                            <button type="submit" class="btn btn-success btn-xs">Approve</i></button>
                                                                            <a class="btn btn-default btn-xs" data-dismiss="modal">Cancle</a>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </h4>
                                                        <a href="/books/<%= data.current_book_info.id %>/approve-request" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                            <h4 class="media-heading user-eamil-box"><%= data.user_request.name %></h4>
                                                            <span class="label label-warning lbl-waiting<%= user.id %>">waiting</span>
                                                            <p class="notification-p">Waiting Book: <%= data.current_book_info.title %></p>
                                                        </a>
                                                        <a onclick="return removeRequestUpdateBook(<%= data.id %>);" class="btn btn-danger btn-xs">Delete</a>
                                                        <button type="button" class="btn btn-info btn-xs btn-remove btn-remove-waiting" data-toggle="modal" data-target="#myModal<%= data.id %>">View</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                                                <div class="title-bar blue">
                                                    <ul class="list-inline list-unstyled">
                                                        <li><i class="icofont icofont-square"></i></li>
                                                        <li><i class="icofont icofont-square"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="text-center">No Request</h5>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (dataRequest.item.total > dataRequest.item.per_page) { %>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="shop-pagination pull-right">
                        <ul id="pagination-book" class="pagination-sm pagination"></ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- contentFor('appCss') %>
<link href="/bower/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" type="text/css">
<link href="/bower/bootstrap-star-rating/css/theme-krajee-fa.css" rel="stylesheet" type="text/css">
<link href="/bower/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

<%- contentFor('appjs') %>
<script src="/bower/bootstrap-star-rating/js/star-rating.js"></script>
<script src="/javascripts/users/list_category.js" type="text/javascript"></script>
<script src="/javascripts/users/interestedCategories.js" type="text/javascript"></script>
<script src="/bower/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/books/book.js" type="text/javascript"></script>
<script src="/javascripts/paginations/paginate.js" type="text/javascript"></script>
<script type="text/javascript">
    var totalPages = Math.ceil("<%= dataRequest.item.total %>"/"<%= dataRequest.item.per_page %>");
    var currentPage = parseInt("<%= dataRequest.item.current_page %>");
    var nextPage = "<%= dataRequest.item.next_page %>"

    if (totalPages) {
        Paginate.book({
            totalPages: totalPages,
            currentPage: currentPage,
            nextPage: nextPage
        });
    }
</script>
