<section data-category-id="<%= books.items.category.id %>">
    <div class="space-30"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 pull-right">
                <% switch (langCategory) {
                    case 'vi': %>
                        <h3><i class="icofont icofont-book"></i><%= books.items.category.name_vi %></h3>
                    <% break;
                    case 'en': %>
                        <h3><i class="icofont icofont-book"></i><%= books.items.category.name_en %></h3>
                    <% break;
                    case 'jp': %>
                        <h3><i class="icofont icofont-book"></i><%= books.items.category.name_jp %></h3>
                    <% break;
                    default: %>
                        <h3><i class="icofont icofont-book"></i><%= books.items.category.name_vi %></h3>
                <% } %>
                <div class="row">
                    <div class="pull-left col-xs-12 col-sm-7 col-md-7">
                        <% switch (langCategory) {
                            case 'vi': %>
                                <h4><i><%= __('Books for') %> <span class="">"<%= books.items.category.name_vi %>"</span></i></h4>
                            <% break;
                            case 'en': %>
                                <h4><i><%= __('Books for') %> <span class="">"<%= books.items.category.name_en %>"</span></i></h4>
                            <% break;
                            case 'jp': %>
                                <h4><i><%= __('Books for') %> <span class="">"<%= books.items.category.name_jp %>"</span></i></h4>
                            <% break;
                            default: %>
                                <h4><i><%= __('Books for') %> <span class="">"<%= books.items.category.name_vi %>"</span></i></h4>
                        <% } %>
                    </div>
                    <div class="pull-right col-xs-12 col-sm-5 col-md-5">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-6" for="sort"><%= __('Sort By') %> <i class="icofont icofont-sort"></i></label>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <select name="sort" id="sort-book" class="form-control">
                                            <optgroup label="<%= __('Order By Desc') %>" data-order-by="desc">
                                                <% sortBookBy.items.forEach(function (condition) { %>
                                                    <option value="<%= condition.field %>"><%= __(condition.text) %></option>
                                                <% }) %>
                                            </optgroup>
                                            <optgroup label="<%= __('Order By Asc') %>"  data-order-by="asc">
                                                <% sortBookBy.items.forEach(function (condition) { %>
                                                    <option value="<%= condition.field %>"><%= __(condition.text) %></option>
                                                <% }) %>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <% if (books.items.category.data.length > 0) { %>
                    <p><strong><%= books.items.category.data.length %></strong> <%= __('of') %> <strong><%= books.items.total %></strong> <%= __('Book Found') %></p>
                <% } %>
                <div class="row ajax-book-content">
                    <% books.items.category.data.forEach(function (book) { %>
                        <div class="col-xs-12 col-md-6">
                            <div class="category-item well yellow">
                                <div class="media">
                                    <% if (book.office.name == 'Tran Khat Chan') { %>
                                        <span class="badge badge-1">
                                            <%= book.office.name %>
                                        </span>
                                    <% } else if (book.office.name == 'Ha Noi Office') { %>
                                        <span class="badge badge-2">
                                            <%= book.office.name %>
                                        </span>
                                    <% } else if (book.office.name == 'Da Nang Office') { %>
                                        <span class="badge badge-3">
                                            <%= book.office.name %>
                                        </span>
                                    <% } else if (book.office.name == 'HCMC Office') { %>
                                        <span class="badge badge-4">
                                            <%= book.office.name %>
                                        </span>
                                    <% } else if (book.office.name == 'Handico Office') { %>
                                        <span class="badge badge-5">
                                            <%= book.office.name %>
                                        </span>
                                    <% } else { %>
                                        <span class="badge badge-notify">
                                            <%= book.office.name %>
                                        </span>
                                    <% } %>
                                    <div class="media-left">
                                        <img class="media-object" 
                                            onclick="window.open('/books/<%= book.id %>', '_self')"
                                            alt="Framgia book"
                                            src="<%= book.image ? book.image.web.thumbnail_path : '/images/book_thumb_default.jpg' %>">
                                    </div>
                                    <div class="media-body">
                                        <h5 title="<%= book.title %>" 
                                            data-toggle="tooltip" 
                                            onclick="window.open('/books/<%= book.id %>', '_self')">
                                            <%= book.title ? getString(book.title, configs.book.title_limit_characters) : __('No title') %>
                                        </h5>
                                        <h6 title="<%= book.author %>" data-toggle="tooltip"><%= __('By') %>
                                            <%= book.author ? getString(book.author, configs.book.author_limit_characters) : 'Framgia' %>
                                        </h6>
                                        <div class="space-10"></div>
                                        <input id="rating-book" name="star" class="rating" data-min="0" data-max="5" value=<%= book.avg_star %> disabled="true" data-step="0.01" data-size="xs">
                                        <div class="space-10"></div>
                                        <p><%= __('Category') %>: </p>
                                        <p>
                                            <% switch (langCategory) {
                                                case 'vi': %>
                                                    <%= book.category.name_vi %>
                                                <% break;
                                                case 'en': %>
                                                    <%= book.category.name_en %>
                                                <% break;
                                                case 'jp': %>
                                                    <%= book.category.name_jp %>
                                                <% break;
                                                default: %>
                                                    <%= book.category.name_vi %>
                                            <% } %>
                                        </p>
                                    </div>
                                </div>
                                <div class="owners">
                                    <strong> <%= __('Shared by') %>: </strong>
                                    <% if (book.owners) { %>
                                        <% var countOwner = 0 %>
                                        <% book.owners.forEach(function (owner) { %>
                                            <%  countOwner++;
                                                if (countOwner == 6) {
                                                    %> <strong> ... </strong> <%
                                                    return;
                                                }
                                            %>
                                            <img onclick="window.open('/users/<%= owner.id %>')"onerror="imgBackUp(this)" data-toggle="tooltip" title="<%= owner.name %>" class="owner-image-home img-circle" src="<%= (owner && owner.avatar) ? owner.avatar : '/images/user_default.png' %>"
                                                 class="media-object author-photo img-thumbnail <%= owner ? '' : 'background--white' %>"
                                                 alt="<%= __('book') %>">
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="space-60"></div>
                <% if (books.items.category.data.length > 0) { %>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="shop-pagination pull-right">
                                <ul id="pagination-book" class="pagination-sm pagination">
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <h4 class="text-center"><%= __('No book') %></h4>
                <% } %>
            </div>
            <!-- Sidebar-Start -->
            <div class="col-xs-12 col-md-3">
                <aside>
                    <h3><i class="icofont icofont-filter"></i> <%= __('Filter By') %></h3>
                    <div class="space-90"></div>
                    <div class="box categories">
                        <h2><%= __('Category') %><span></span></h2>
                        <ul class="box-content category-sidebar">
                            <% categories.items.forEach(function (category, index) { %>
                                <% if (index <= 9) { %>
                                    <% switch (langCategory) {
                                        case 'vi': %>
                                            <li><a href="/books/category/<%= category.id %>"><%= category.name_vi %></a></li>
                                        <% break;
                                        case 'en': %>
                                            <li><a href="/books/category/<%= category.id %>"><%= category.name_en %></a></li>
                                        <% break;
                                        case 'jp': %>
                                            <li><a href="/books/category/<%= category.id %>"><%= category.name_jp %></a></li>
                                        <% break;
                                        default: %>
                                            <li><a href="/books/category/<%= category.id %>"><%= category.name_vi %></a></li>
                                    <% } %>
                                <% } else { %>
                                    <% if (langCategory == 'vi') { %>
                                        <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_vi %></a></li>
                                    <% } else if (langCategory == 'en') { %>
                                        <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_en %></a></li>
                                    <% } else { %>
                                        <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_jp %></a></li>
                                    <% } %>
                                    <% switch (langCategory) {
                                        case 'vi': %>
                                            <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_vi %></a></li>
                                        <% break;
                                        case 'en': %>
                                            <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_en %></a></li>
                                        <% break;
                                        case 'jp': %>
                                            <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_jp %></a></li>
                                        <% break;
                                        default: %>
                                            <li class="hidden"><a href="/books/category/<%= category.id %>"><%= category.name_vi %></a></li>
                                    <% } %>
                                <% } %>
                            <% }) %>
                        </ul>
                        <a href="#" class="btn btn-primary btn-xs" id="btn-loadmore-category"><%= __('See All') %></a>
                    </div>
                </aside>
            </div>
            <!-- Sidebar-End -->
        </div>
    </div>
    <div class="space-80"></div>
</section>

<%- contentFor('appjs') %>
<script type="text/javascript" src="/javascripts/books/book.js"></script>
<script type="text/javascript" src="/javascripts/paginations/paginate.js"></script>
<script type="text/javascript">
    var totalPages = Math.ceil("<%= books.items.total %>"/"<%= books.items.per_page %>");
    var currentPage = parseInt("<%= books.items.current_page %>");
    var nextPage = "<%= books.items.next_page %>"

    if (totalPages) {
        Paginate.book({
            totalPages: totalPages,
            currentPage: currentPage,
            nextPage: nextPage
        });
    }

    $('#sort-book').on('change', function () {
        var sortBy = $('#sort-book').val();
        var categoryId = $('section').attr('data-category-id');
        var orderBy = $('#sort-book :selected').parent().attr('data-order-by') !== undefined ? $('#sort-book :selected').parent().attr('data-order-by'): 'desc';
        var data = {
            categoryId: categoryId,
            sortBy: sortBy,
            orderBy: orderBy,
            currentPage: currentPage
        };
        if (categoryId === undefined || sortBy === undefined) {
            location.reload();
        }

        Book.ajaxSortBook(data);
    });

    $('#btn-loadmore-category').on('click', function (e) {
        e.preventDefault();
        $('.category-sidebar li.hidden').removeClass('hidden');
        $('#btn-loadmore-category').addClass('hidden');
    });
</script>

<script type="text/javascript" src="/bower/bootstrap-star-rating/js/star-rating.js"></script>

<%- contentFor('appCss') %>
<link type="text/css" href="/bower/bootstrap-star-rating/css/star-rating.css" rel="stylesheet">
<link type="text/css" href="/css/category.min.css" rel="stylesheet">
