<section class="relative fix gray-bg">
    <div class="container display-book">
        <div class="col-md-8">
            <div class="space-30"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                    <h4><%= data.items.title %></h4>
                    <div class="space-10"></div>
                    <div class="title-bar blue">
                        <ul class="list-inline list-unstyled">
                            <li><i class="icofont icofont-square"></i></li>
                            <li><i class="icofont icofont-square"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="space-20"></div>
            </div>
            <div class="row panel">
                <div class="col-md-2">
                    <% if(data.items.current_vote == configs.words.up_vote ) { %>
                        <button class="btn_vote btn_voted up_vote" value="2">
                            <i class="icofont icofont-caret-up vote_review"></i>
                        </button>
                    <% } else { %>
                        <button class="btn_vote up_vote" value="2">
                            <i class="icofont icofont-caret-up vote_review"></i>
                        </button>
                    <% } %>
                    <input type="hidden" id="review_data" value="<%= data.items.id %>">
                    <input type="hidden" id="user_id<%= data.items.id %>" value="<%= userId %>">
                    <span id="btn_show_vote"><%= data.items.up_vote - data.items.down_vote %></span>
                    <% if(data.items.current_vote == configs.words.down_vote ) { %>
                        <button class="btn_vote btn_voted down_vote" value="1">
                            <i class="icofont icofont-caret-down vote_review"></i>
                        </button>
                    <% }else{ %>
                        <button class="btn_vote down_vote" value="1">
                            <i class="icofont icofont-caret-down vote_review"></i>
                        </button>
                    <% } %>
                </div>
                <div class="col-xs-12 pull-right col-md-10 padding60 wow fadeInRight">
                    <div class="book-content">
                        <%- data.items.content %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4><%= data.items.book.title %> <span> (<%= data.items.book.count_view %> view)</span></h4>
            <div class="space-10"></div>
            <% if (data.items.book.author != 'undefined') { %>
                <p><%= __('Author') %>: <span class="text-warning"><%= data.items.book.author %></span></p>
            <% } else { %>
                <p><%= __('No Author') %></p>>
            <% } %>
            <div class="space-10"></div>
            <div class="col-md-12 p-0" id="review_img">
                <div class="book-list-photo">
                    <% if (data.items.media) { %>
                    <div class="book-list">
                        <% data.items.media.forEach(function (image) { %>
                        <div class="book_item">
                            <img src="<%= image.web.medium_path %>" alt="<%= __('book') %>">
                        </div>
                        <% }) %>
                        <% if (data.items.media.length == 1) { %>
                        <div class="book_item">
                            <img src="<%= data.items.media[0].web.medium_path %>" alt="<%= __('book') %>">
                        </div>
                        <% } %>
                    </div>
                    <% } else { %>
                        <div class="book-list">
                            <div class="book_item">
                                <img src="/images/book_default.jpg" alt="<%= __('book') %>">
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="bookslide_nav">
                    <i class="icofont icofont-long-arrow-left testi_prev"></i>
                    <i class="icofont icofont-long-arrow-right testi_next"></i>
                </div>
            </div>
            <div class="space-40"></div>
        </div>
    </div>
</section>
<section class="relative fix gray-bg">
    <div class="container cmt-div bg-white">
        <div class="panel">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#user_review"><%= __('User comments') %></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="user_review">
                        <div class="row event-list">
                            <% if (data.items.comments.length > 0) { %>
                                <% data.items.comments.forEach((comment) => { %>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="event-item wow fadeInRight comment-box" id="comment<%= comment.id %>">
                                        <div class="well padding5 owner-clear relative-position">
                                            <div class="media padding5">
                                                <header class="media-left">
                                                    <% if (user.avatar !== null) { %>
                                                        <a href="/users/<%= comment.user.id %>" class="avatar">
                                                            <img src="<%= comment.user.avatar %>" class="media-object" alt="<%= __('Avatar') %>">
                                        
                                                        </a>
                                                    <% } else { %>
                                                        <a href="/users/<%= comment.user.id %>" class="avatar">
                                                            <img src="/images/user/icon_user_default.png" class="media-object w-70-h-70" alt="<%= __('Avatar') %>">
                                                            
                                                        </a>
                                                    <% } %>
                                                </header>
                                                <div class="media-body">
                                                    <div class="content-comment" id="content-comment-<%= comment.id %>">
                                                        <p class="show tip-left">
                                                            <strong><%= comment.user.name %></strong>  
                                                            <span><%= comment.created_at %></span>                
                                                        </p>
                                                        <p>
                                                            <%= comment.content %>
                                                            <% if(userId == comment.user.id) { %>
                                                                <button type="button" 
                                                                    class="edit_comment_topright" 
                                                                    id="edit_comment_topright<%= comment.id %>" 
                                                                    data-comment-content="<%= comment.content %>" 
                                                                    data-user-id="<%= comment.user.id %>" 
                                                                    data-comment-id="<%= comment.id %>" 
                                                                    data-review-id="<%= data.items.id %>" 
                                                                    value="<%= comment.id %>" 
                                                                    title="<%= __('edit comment') %>">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                                <button type="button" class="delete_comment_topright" value="<%= comment.id %>" title="<%= __('delete comment') %>">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            <% }%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% })} else { %>
                                <div class="col-xs-12 col-sm-8 col-md-9" id="no_comment">
                                    <%= __('Not yet comment') %>
                                </div>
                            <% } %>
                        </div>
                        <div class="row ">
                            <form action="/books/review-details/comment" method="post">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12 well comment-box padding5">
                                        <div class="form-group">
                                            <div class="text-center padding5 float-left">
                                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                                <% if (typeof user != 'undefined' && typeof user.avatar !== 'undefined' && user.avatar) { %>
                                                    <img src="<%= user.avatar %>" alt="<%= __('Avatar') %>" /><span class="badge active-user-notification"></span>
                                                    <div class="hidden" id="get-user-id"><%= user.id%></div>
                                                <% }
                                                else { %>
                                                    <img src="/images/user_default.png" class="img-circle img-thumbnail" alt="<%= __('Avatar') %>" />
                                                <% } %>
                                            </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-11 p-0 pl-5">
                                                <textarea name="review_content" id="content" class="form-control bg-info b-r-0" cols="50" rows="3" placeholder="<%= __('Enter your review') %>'" required> </textarea>
                                                <input type="hidden" name="review_user_id" value="<%= userId %>"/>
                                                <input type="hidden" name="review_review_id" value="<%= data.items.id %>"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 button-comment text-right">
                                            <button type="submit" class="btn btn-primary hover-btn-default btn-customize margin-top-20"> <%= __('Up comment') %> </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-20"></div>
</section>
