<!--Begin section-->
<section id="section">
    <div class="space-40"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <h2><strong><%= __('Waiting approve') %></strong></h2>
                <div class="title-bar blue">
                    <ul class="list-inline list-unstyled">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <% if (books.items.data.length) { %>
                <% books.items.data.forEach(function (book) { %>
                    <div class="" data-wow-delay="0.1s" data-wow-offset="50">
                        <div class="">
                            <div class="panel-body" style="border">
                            <h4><span class=""><%= book.title %></span></h4>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="waiting_requests">
                                        <div class="row event-list">
                                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-9">
                                                <div class="event-item wow fadeInRight">
                                                    <% if (book.users_reading.length == 0 && book.users_waiting.length == 0) { %>
                                                    <%= __('No request') %>
                                                    <% } %>
                                                    <% if (book.users_reading.length) { %>
                                                        <% book.users_reading.forEach(function(user) { %>
                                                            <div class="approve-waiting-area-<%= user.id %>">
                                                                <h4 class="show tip-left"><span class=""><%= user.pivot.created_at %></span></h4>
                                                                <div class="well">
                                                                    <div class="media">
                                                                        <div class="media-left">
                                                                            
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <div class="space-10"></div>
                                                                            <a href="/users/<%= user.id %>"><h4 class="media-heading"><%= user.name %> [<%= user.email %>]</h4></a>
                                                                            <span class="label label-success lbl-reading<%= user.id %>"><%= __('Reading') %></span>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <a href="javascript:void(0)" onclick="return unapproveRequestWaiting(<%= user.id %>);" class="btn btn-primary btn-xs btn-approve btn-unapprove-reading<%= user.id %>"><%= __('Unapprove') %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <% }) %>
                                                    <% } %>
                                                    <% if (book.users_waiting.length) { %>
                                                        <% book.users_waiting.forEach(function(user) { %>
                                                        <div class="approve-waiting-area-<%= user.id %>">
                                                            <h4 class="show tip-left"><span class=""><%= user.pivot.created_at %></span></h4>
                                                            <div class="well">
                                                                <div class="media">
                                                                    <div class="media-left">

                                                                    </div>
                                                                    <div class="media-body">
                                                                        <div class="space-10"></div>
                                                                        <a href="/users/<%= user.id %>"><h4 class="media-heading"><%= user.name %> [<%= user.email %>]</h4></a>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>"><%= __('Waiting') %></span>
                                                                        <span class="text-success"><%= __('Time want to borrow') %>:
                                                                            <% if (user.pivot.days_to_read == 1) { %>
                                                                                <%= user.pivot.days_to_read %> <%= __('day') %>
                                                                            <% } else { %>
                                                                                <%= user.pivot.days_to_read %> <%= __('days') %>
                                                                            <% } %>
                                                                        </span>
                                                                    </div>
                                                                    <% if (!book.users_reading.length) {%>
                                                                        <div class="media-body">
                                                                            <a onclick="return approveRequestWaiting(<%= user.id %>);" class="btn btn-primary btn-xs btn-approve btn-approve-waiting<%= user.id %>"><%= __('Approve') %></a>
                                                                        </div>
                                                                    <% } else { %>
                                                                        <div class="media-body">
                                                                            <a onclick="return approveRequestWaiting(<%= user.id %>);" class="btn btn-primary btn-xs hidden btn-approve btn-approve-waiting<%= user.id %>"><%= __('Approve') %></a>
                                                                        </div>
                                                                    <% } %>
                                                                    <div class="media-body">
                                                                        <a onclick="return removeRequestWaiting(<%= user.id %>);" class="btn btn-danger btn-xs btn-remove btn-remove-waiting<%= user.id %>"><%= __('Remove this request') %></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                    <% } %>
                                                </div>
                                            <div class="space-20"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="returning_requests">
                                    <div class="row event-list">
                                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-9">
                                            <div class="event-item wow fadeInRight">
                                                <% if (book.users_returning.length == 0 && book.users_returned.length == 0) { %>
                                                    <%= __('No request') %>
                                                    <% } %>
                                                <% if (book.users_returning.length) { %>
                                                    <% book.users_returning.forEach(function(user) { %>
                                                    <h4 class="show tip-left"><span class=""><%= user.pivot.created_at %></span></h4>
                                                    <div class="well">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="space-10"></div>
                                                                <a href="/users/<%= user.id %>"><h4 class="media-heading"><%= user.name %> [<%= user.email %>]</h4></a>
                                                                <span class="label label-warning lbl-returning<%= user.id %>"><%= __('Returning') %></span>
                                                            </div>
                                                            <div class="media-body">
                                                                <a href="javascript:void(0)" onclick="return approveRequestReturning(<%= user.id %>);" class="btn btn-primary btn-xs btn-approve-returning<%= user.id %>"><%= __('Approve') %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                <% } %>
                                                <% if (book.users_returned.length) { %>
                                                    <% book.users_returned.forEach(function(user) { %>
                                                        <h4 class="show tip-left"><span class=""><%= user.pivot.created_at %></span></h4>
                                                        <div class="well">
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <a href="/users/<%= user.id %>"><h4 class="media-heading"><%= user.name %> [<%= user.email %>]</h4></a>
                                                                    <span class="label label-success lbl-returned<%= user.id %>"><%= __('Returned') %></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }) %>
                                                <% } %>
                                            </div>
                                        <div class="space-20"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <center><h4> <%= __('No book waiting to approve') %> </h4></center>
            <% } %>
        </div>
        <% if (books.items.total > books.items.per_page) { %>
            <div class="space-60"></div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="shop-pagination pull-right">
                        <ul id="pagination-book" class="pagination-sm pagination">
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<!--End section-->

<%- contentFor('appjs') %>
<script type="text/javascript" src="/javascripts/books/book.js"></script>
<script type="text/javascript" src="/javascripts/paginations/paginate.js"></script>
<script type="text/javascript" src="/bower/bootstrap-star-rating/js/star-rating.js"></script>
<script type="text/javascript">
    var totalPages = Math.ceil("<%= books.items.total %>"/"<%= books.items.per_page %>");
    var currentPage = parseInt("<%= books.items.current_page %>");
    var nextPage = "<%= books.items.next_page %>"

    if (totalPages) {
        Paginate.book({
            totalPages: totalPages,
            currentPage: currentPage,
            nextPage: nextPage
        });
    }
</script>

<%- contentFor('appCss') %>
<link type="text/css" href="/bower/bootstrap-star-rating/css/star-rating.css" rel="stylesheet">
