<div class="space-50"></div>
<section class="relative">
    <div class="container">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="notification">
                        <div class="row event-list">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-0 col-md-8">
                                <h2><strong>Notifications</strong></h2>
                                <div class="event-item wow fadeInRight">
                                    <% if (dataNoti && dataNoti.items.notification.data.length && dataNoti.items.notification.total) { %>
                                        <% dataNoti.items.notification.data.forEach(function(data) { %>
                                            <%if (data.user_receive_id == user.id && data.book != null) { %>
                                                <%if (data.viewed == configs.notification.not_view) { %>
                                                    <%if (data.type == configs.notification.waiting) { %>
                                                        <div class="notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">waiting</span>
                                                                        <p class="notification-p">Waiting book request: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.cancel) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="#" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">cancel</span>
                                                                        <p class="notification-p">Cancel book request: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.review) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">review</span>
                                                                        <p class="notification-p">Review Book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.returning) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">returning</span>
                                                                        <p class="notification-p">Returning book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.returned) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">returned</span>
                                                                        <p class="notification-p">Return done book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_returning) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve returning</span>
                                                                        <p class="notification-p">Return books successfully: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_waiting) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve waiting</span>
                                                                        <p class="notification-p">Accept your request waiting book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.request_edit_book) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/admin/waiting-request-edit-book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">Request edit book</span>
                                                                        <p class="notification-p">Want to edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_request_update_book) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/admin/waiting-request-edit-book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve request edit book</span>
                                                                        <p class="notification-p">Approve your request edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.delete_request_update_book) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/admin/waiting-request-edit-book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">unapprove request edit book</span>
                                                                        <p class="notification-p">Unapprove your request edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.unapprove_waiting) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve waiting</span>
                                                                        <p class="notification-p">Accept your request unapprove book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                                <%if (data.viewed != configs.notification.not_view) { %>
                                                    <%if (data.type == configs.notification.waiting) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">waiting</span>
                                                                        <p class="notification-p">Waiting Book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.cancel) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="#" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">cancel</span>
                                                                        <p class="notification-p">Cancel book request: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.review) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">review</span>
                                                                        <p class="notification-p">Review Book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.returned) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">returned</span>
                                                                        <p class="notification-p">Return done book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.returning) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>/approve-request %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">returning</span>
                                                                        <p class="notification-p">Returning book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_returning) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve returning</span>
                                                                        <p class="notification-p">Return books successfully: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_waiting) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve waiting</span>
                                                                        <p class="notification-p">Accept your request waiting book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.request_edit_book) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="admin/waiting_approve_edit_book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve waiting</span>
                                                                        <p class="notification-p">Accept your request waiting edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.approve_request_update_book) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/admin/waiting-request-edit-book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve request edit book</span>
                                                                        <p class="notification-p">Accept your request edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.delete_request_update_book) { %>
                                                        <div class=" notificaiton-box noSeen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/admin/waiting-request-edit-book" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">unapprove request edit book</span>
                                                                        <p class="notification-p">Unapprove your request edit book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <%if (data.type == configs.notification.unapprove_waiting) { %>
                                                        <div class=" notificaiton-box seen">
                                                            <div class="media click-notification">
                                                                <div class="media-left">
                                                                    <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="space-10"></div>
                                                                    <h4 class="show text-danger pull-right"><span class="time_a_go"><%= data.created_at %></span></h4>
                                                                    <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                        <h4 class="media-heading user-eamil-box"><%= data.user_send.name %> [<%= data.user_send.email %>]</h4>
                                                                        <span class="label label-warning lbl-waiting<%= user.id %>">approve waiting</span>
                                                                        <p class="notification-p">Accept your request unapprove book: <%= data.book.title %></p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                                                <div class="title-bar blue">
                                                    <ul class="list-inline list-unstyled">
                                                        <li><i class="icofont icofont-square"></i></li>
                                                        <li><i class="icofont icofont-square"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="text-center">No Notifications</h5>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-sm-offset-0 col-md-4">
                                <h2><strong>Newsfeed</strong></h2>
                                <div class="event-item wow fadeInRight">
                                    <% if (dataNoti && dataNoti.items.notificationFollow.data.length && dataNoti.items.notificationFollow.total) { %>
                                        <% dataNoti.items.notificationFollow.data.forEach(function(data) { %>
                                            <%if (data.type == configs.notification.waiting && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>/approve-request" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Waiting Book: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.cancel && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="#" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Cancel book request: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.review && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Review Book: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.returning && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>/approve-request %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Returning book: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.approve_returning && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Return books successfully: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.approve_waiting && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object  w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p">Accept your request waiting book: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.add_owner && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p"><%= data.user_send.name %> AddBook: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <%if (data.type == configs.notification.remove_owner && data.book != null) { %>
                                                <div class=" notificaiton-box seen">
                                                    <div class="media click-notification">
                                                        <div class="media-left">
                                                            <img src="<%= data.user_send.avatar ? data.user_send.avatar : '/images/data.user_send/icon_data.user_default.png'%>" class="media-object w-70-h-70" alt="library">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="space-10"></div>
                                                            <a href="/books/<%= data.book.id %>" class="notification_onclick" data-notification-id="<%= data.id %>">
                                                                <h4 class="media-heading user-eamil-box"><%= data.user_send.name %></h4>
                                                                <p class="notification-p"><%= data.user_send.name %> Remove Book: <%= data.book.title %></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                                                <div class="title-bar blue">
                                                    <ul class="list-inline list-unstyled">
                                                        <li><i class="icofont icofont-square"></i></li>
                                                        <li><i class="icofont icofont-square"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="text-center">No Newfeeds</h5>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (dataNoti.items.notificationFollow.total > dataNoti.items.notificationFollow.per_page ||
               dataNoti.items.notification.total > dataNoti.items.notification.per_page) { %>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="shop-pagination pull-right">
                        <ul id="pagination-book" class="pagination-sm pagination"></ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- contentFor('appCss') %>
<link href="/bower/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" type="text/css">
<link href="/bower/bootstrap-star-rating/css/theme-krajee-fa.css" rel="stylesheet" type="text/css">
<link href="/bower/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

<%- contentFor('appjs') %>
<script src="/bower/bootstrap-star-rating/js/star-rating.js"></script>
<script src="/javascripts/users/list_category.js" type="text/javascript"></script>
<script src="/javascripts/users/interestedCategories.js" type="text/javascript"></script>
<script src="/bower/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/books/book.js" type="text/javascript"></script>
<script src="/javascripts/paginations/paginate.js" type="text/javascript"></script>
<script type="text/javascript">
    var totalPages = Math.ceil("<%= dataNoti.items.notificationFollow.total %>"/"<%= dataNoti.items.notificationFollow.per_page %>");
    var currentPage = parseInt("<%= dataNoti.items.notificationFollow.current_page %>");
    var nextPage = "<%= dataNoti.items.notificationFollow.next_page %>"

    if (totalPages) {
        Paginate.book({
            totalPages: totalPages,
            currentPage: currentPage,
            nextPage: nextPage
        });
    }
</script>

<script type="text/javascript">
    var totalPages = Math.ceil("<%= dataNoti.items.notification.total %>"/"<%= dataNoti.items.notification.per_page %>");
    var currentPage = parseInt("<%= dataNoti.items.notification.current_page %>");
    var nextPage = "<%= dataNoti.items.notification.next_page %>"

    if (totalPages) {
        Paginate.book({
            totalPages: totalPages,
            currentPage: currentPage,
            nextPage: nextPage
        });
    }
</script>
