<section class="relative fix m-bottom50 gray-bg" id="sc3">
    <div class="hide-categoryIds" data-category-ids=<%= categoryIds %>></div>
    <div class="hide-userId" user-name="<%= data.name %>" follow=<%= follow.isFollow == true ? "follow" : "unfollow" %> data-user-id=<%= userId %>></div>
    <div class="wrap_content container">
        <div class="prcover prgreen-bg">
            <div class="space-25"></div>
            <h1 class="text-white prhellofont"><%= __('Hello there') %></h1>
            <h1 class="text-white"><%= __("I\\'m") %> <%= data.name %></h1>
        </div>
        <div class="prheadline">
            <div class="pravatar"><a href="/users/<%= data.id%>" class=""><% if (typeof data.avatar != 'undefined' && data.avatar) { %>
                <img class="img-circle pravatar-image img-responsive" src="<%= data.avatar %>" alt="avatar">
                <% } else { %>
                    <img class="img-circle pravatar-image img-responsive" src="/images/user_default.png" alt="avatar">
                <% } %></a>
            </div>
            <div class="prheadlineinfo pull-right m-0">
                <ul class="nav nav-tabs prnav-tabs">
                    <% var isTabActived = false; %>
                    <% if (!isTabActived && pageReading === 1 || pageWaiting === 1 && pageDone === 1 && pageSharing !== 1 && pageSuggest === 1 && pageReviewed === 1) {
                        isTabActived = true;
                    %>
                        <li class="active">
                            <a data-toggle="tab" href="#sharing_books"><%= __('Sharing Books') %></a>
                        </li>
                    <% } else { %>
                        <li>
                            <a data-toggle="tab" href="#sharing_books"><%= __('Sharing Books') %></a>
                        </li>
                    <% } %>

                    <% if (!isTabActived && pageReading !== 1) {
                        isTabActived = true;
                    %>
                        <li class="active">
                            <a data-toggle="tab" href="#reading_books"><%= __('Reading Books') %></a>
                        </li>
                    <% } else { %>
                        <li>
                            <a data-toggle="tab" href="#reading_books"><%= __('Reading Books') %></a>
                        </li>
                    <% } %>

                    <% if (!isTabActived && pageWaiting !== 1) {
                        isTabActived = true;
                    %>
                        <li class="active">
                            <a data-toggle="tab" href="#waiting_books"><%= __('Waiting Books') %></a>
                        </li>
                    <% } else { %>
                        <li>
                            <a data-toggle="tab" href="#waiting_books"><%= __('Waiting Books') %></a>
                        </li>
                    <% } %>

                    <% if (!isTabActived && pageDone !== 1) {
                        isTabActived = true;
                    %>
                        <li class="active">
                            <a data-toggle="tab" href="#done_books"><%= __('Returned Books') %></a>
                        </li>
                    <% } else { %>
                        <li>
                            <a data-toggle="tab" href="#done_books"><%= __('Returned Books') %></a>
                        </li>
                    <% } %>

                    <% if (!isTabActived && pageReviewed !== 1) {
                        isTabActived = true;
                    %>
                        <li class="active">
                            <a data-toggle="tab" href="#reviewed_books"><%= __('Suggest Books') %></a>
                        </li>
                    <% } else { %>
                        <li>
                            <a data-toggle="tab" href="#reviewed_books"><%= __('Suggest Books') %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-sm-3">
                <div class="space-30"></div>
                <div class="text-center"><h2><strong><%= data.name %></strong></h2>
                    <% if (userId === user.id) { %>
                        <a href="#">
                    <% } %>
                </div>
                <div class="title-bar"></div>
                <div>
                    <div class="book-content book-content-profile m-0">
                        <div class="book-details-item">
                            <h4 class="tip-left"><%= __('Email') %>: </h4>
                            <p><%= data.email %></p>
                            <h4 class="tip-left"><%= __('Phone') %>: </h4>
                            <p><%= data.phone %></p>
                            <h4 class="tip-left"><%= __('Code') %>: </h4>
                            <p><%= data.code %></p>
                            <h4 class="tip-left"><%= __('Position') %>: </h4>
                            <p><%= data.position %></p>
                            <h4 class="tip-left"><%= __('Workspace') %>: </h4>
                            <% if (typeof(offices.items) !== 'undefined' && typeof(data.office_id) !== 'undefined' && data.office_id && offices.items) { %>
                                <% offices.items.forEach(function(office) { %>
                                    <% if (office.id == data.office_id) { %>
                                        <p class=""><%= office.area %></p>
                                    <% } %>
                                <% }) %>
                            <% } %>

                            <h4><%= __('Follower') %>: </h4>
                            <p><a href="" data-toggle="modal" data-target="#followed"><%= follow.countFollowed %> <%= __('people') %></a></p>
                            <h4><%= __('Following') %>: </h4>
                            <p><a href="" data-toggle="modal" data-target="#following"><%= follow.countFollowing %> <%= __('people') %></a></p>
                        </div>
                    </div>
                    <div class="modal fade" id="followed" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header prgreen-bg">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-white"><%= __('Followed by') %>: </h4>
                                </div>
                                <div class="modal-body">
                                    <% follow.followedBy.forEach(function (user) { %>
                                        <div class="row show-more">
                                            <div class="col-sm-3"><a onclick="window.open('/users/<%= user.id %>')"><% if (typeof data.avatar != 'undefined' && user.avatar) { %>
                                            <img class="img-circle img-responsive follow-avatar" src="<%= user.avatar %>" alt="<%= __('Avatar') %>">
                                            <% } else { %>
                                                <img class="img-circle img-responsive follow-avatar" src="/images/user_default.png" alt="<%= __('Avatar') %>">
                                            <% } %></a>
                                            </div>
                                            <div class="col-sm-9">
                                            <p class=""><a href="#" onclick="window.open('/users/<%= user.id %>')"><%= user.name %></a></p>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                                <% if (follow.countFollowed > 8) { %>
                                    <button class="btn btn-info" id="load-more-user"><%= __('Load More') %></button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="following" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header prgreen-bg">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-white"><%= __('Following') %>: </h4>
                                </div>
                                <div class="modal-body">
                                    <% follow.following.forEach(function (user) { %>
                                        <div class="row show-more">
                                            <div class="col-sm-3"><a onclick="window.open('/users/<%= user.id %>')"><% if (typeof data.avatar != 'undefined' && user.avatar) { %>
                                            <img class= "img-circle img-responsive follow-avatar" src="<%= user.avatar %>" alt="<%= __('Avatar') %>">
                                            <% } else { %>
                                                <img class="img-circle img-responsive follow-avatar" src="/images/user_default.png" alt="<%= __('Avatar') %>">
                                            <% } %></a>
                                            </div>
                                            <div class="col-sm-9">
                                            <p class=""><a href="" onclick="window.open('/users/<%= user.id %>')"><%= user.name %></a></p>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                                <% if (follow.countFollowing > 8) { %>
                                    <button class="btn btn-info" id="load-more-user"><%= __('Load More') %></button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-bar"></div>
            </div>
            <div class="col-md-9" contenteditable="false">
                <div class="tab-content">
                    <% var isTabPaneActived = false; %>
                    <div id="sharing_books" class="tab-pane fade
                        <% if (!isTabPaneActived && pageReading === 1 || 
                        pageWaiting === 1 && 
                        pageDone === 1 && 
                        pageSharing !== 1 && 
                        pageSuggest === 1 && 
                        pageReviewed === 1) { isTabPaneActived = true; %> in active <% } %>">
                        <%- include('../shared/myBooks', {books: sharingBooks, pageName: 'pageSharing'}); %>
                    </div>
                    <div id="reading_books" class="tab-pane fade
                        <% if (!isTabPaneActived && pageReading !== 1) { isTabPaneActived = true; %> in active <% } %>">
                        <%- include('../shared/myBooks', {books: readingBooks, pageName: 'pageReading'}); %>
                    </div>
                    <div id="waiting_books" class="tab-pane fade
                        <% if (!isTabPaneActived && pageWaiting !== 1) { isTabPaneActived = true; %> in active <% } %>">
                        <%- include('../shared/myBooks', {books: waitingBooks, pageName: 'pageWaiting'}); %>
                    </div>
                    <div id="done_books" class="tab-pane fade
                        <% if (!isTabPaneActived && pageDone !== 1) { isTabPaneActived = true; %> in active <% } %>">
                        <%- include('../shared/myBooks', {books: doneBooks, pageName: 'pageDone'}); %>
                    </div>
                    <div id="suggested_books" class="tab-pane fade
                        <% if (userId === user.id) {
                            if (!isTabPaneActived && pageSuggest !== 1) { isTabPaneActived = true; %> in active <% } %>">
                            <%- include('../shared/myBooks', {books: suggestedBooks, pageName: 'pageSuggest'}); %>
                        <% } %>
                    </div>
                    <div id="reviewed_books" class="tab-pane fade
                        <% if (!isTabPaneActived && pageReviewed !== 1) { isTabPaneActived = true; %> in active <% } %>">
                        <%- include('../shared/myBooks', {books: reviewedBooks, pageName: 'pageReviewed'}); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var book_img_height = $(".media-object").map(function ()
    {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, book_img_height);
    $(".media-object").height(maxHeight);

    var section_height = $(".book-descrip").map(function ()
    {
        return $(this).height();
    }).get(),

    maxSectionHeight = Math.max.apply(null, section_height);
    $(".book-descrip").height(maxSectionHeight);
</script>
<%- contentFor('appCss') %>
<link type="text/css" href="/bower/bootstrap-star-rating/css/star-rating.css" rel="stylesheet">
<link type="text/css" href="/bower/sweetalert/dist/sweetalert.css" rel="stylesheet">
<link type="text/css" href="/css/profile.min.css" rel="stylesheet">

<%- contentFor('appjs') %>
<script type="text/javascript" src="/bower/bootstrap-star-rating/js/star-rating.js"></script>
<script type="text/javascript" src="/javascripts/users/list_category.js"></script>
<script type="text/javascript" src="/javascripts/users/interestedCategories.js"></script>
<script type="text/javascript" src="/bower/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/javascripts/users/follow.js"></script>
<script type="text/javascript" src="/javascripts/books/book.js"></script>
