<div class="space-80"></div>
<div class="header-bg relative home-slide">
    <% if (data.posts.length > 0 ) { %> 
        <% data.posts.forEach(function (post) { %>
            <div class="item">
                <img src="<%= post.web.large_path%>" alt="<%= __('slide') %>">
            </div>
        <% })%>
    <% } else { %>
        <div class="item">
            <img src="/images/slide/slide1.jpg" alt="<%= __('slide') %>">
        </div>
        <div class="item">
            <img src="/images/slide/slide2.jpg" alt="<%= __('slide') %>">
        </div>
        <div class="item">
            <img src="/images/slide/slide3.jpg" alt="<%= __('slide') %>">
        </div>
        <div class="item">
            <img src="/images/slide/slide4.jpg" alt="<%= __('slide') %>">
        </div>
    <% }%>
    
</div>

<div class="header-text">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                <div class="space-100"></div>
                <div class="jumbotron">
                    <a href="/home/get-list-posts" class="text-white"><%= __('Click to see detail posts') %></a>
                </div>
                <div class="space-40"></div>
            </div>
        </div>
    </div>
</div>
