<div class="space-80"></div>
<div class="header-bg relative home-slide">
    <% data.posts.forEach(function (post) { %>
        <div class="item">
            <img src="<%= post.web.large_path%>" alt="<%= __('slide') %>">
        </div>
    <% })%>
</div>

<div class="header-text">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                <div class="jumbotron">
                    <h1 class="text-white text-uppercase"><%= __('Welcome to the best place to read books') %></h1>
                    <p class="text-white"><%= __('Read, share and engage with great books') %></p>
                    <a href="/home/get-list-posts" class="text-white"><%= __('Click to see detail posts') %></a>
                </div>
                <div class="space-40"></div>
            </div>
        </div>
    </div>
</div>
