<header class="relative" id="sc1">
    <!-- Mainmenu-markup-start -->
    <div class="mainmenu-area navbar-fixed-top navbar-header-custom" data-spy="affix" data-offset-top="10">
        <nav class="navbar reponsive-menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <!--Logo-->
                    <% if (typeof user != 'undefined' && typeof user.office_id !== 'undefined' && user.office_id) { %>
                        <a href="/home?officeId=<%= user.office_id %>" class="navbar-left show">
                    <% } else { %>
                        <a href="/home" class="navbar-left show">
                    <% } %>
                        <img src="/images/icon.jpg" alt="icon" class="icon-image">
                        <span class="logo-text"> FBook</span>
                    </a>
                </div>
                <!--Toggle-button-->

                <!--Active User-->
                <% if (typeof user != 'undefined' && typeof user.name !== 'undefined' && user.name) { %>
                    <div class="nav navbar-right">
                    <div class="active-user navbar-left active">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                    <% if (typeof user != 'undefined' && typeof user.avatar !== 'undefined' && user.avatar) { %>
                                        <img src="<%= user.avatar %>" alt="<%= __('Avatar') %>" /><span class="badge active-user-notification"></span>
                                        <div class="hidden" id="get-user-id"><%= user.id%></div>
                                    <% }
                                    else { %>
                                        <img src="/images/user_default.png" class="img-circle img-thumbnail" alt="<%= __('Avatar') %>" />
                                    <% } %>
                                </a>
                                <ul class="dropdown-menu info-user">
                                    <li class="border-bottom-ccc"><a><b><%= user.name %></b></a></li>
                                    <li>
                                        <a href="/users/my_profile"> <span><i class="icofont icofont-user"></i></span> <%= __('Profile') %></a>
                                    </li>
                                    <li>
                                        <a href="/books/waiting_approve"> <span><i class="glyphicon glyphicon-ok"></i></span> <%= __('Requests borrow book')%> </a>
                                    </li>
                                    <li>
                                        <a href="/users/my_books"> <span><i class="icofont icofont-read-book"></i></span> <%= __('My Books')%> </a>
                                    </li>
                                     <% if(user.role == 'admin') { %>
                                        <li>
                                            <a href="/admin/waiting-request-edit-book"> <span><i class="icofont icofont-ui-settings"></i></span> <%= __('Requests edit book')%> </a>
                                        </li>
                                    <% } %>
                                    <li>
                                        <a href="/logout"> <span><i class="icofont icofont-logout"></i></span> <%= __('Log Out')%> </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>

                <!--Mainmenu list-->
                <div class="navbar-right in fade" id="mainmenu">
                    <ul class="nav navbar-nav nav-white text-uppercase">
                        <li class="active" title="<%= __('Home Page') %>">
                            <% if (typeof user != 'undefined' && typeof user.office_id !== 'undefined' && user.office_id) { %>
                                <a href="/home?officeId=<%= user.office_id %>"><%= __('Home')%></a>
                            <% } else { %>
                                <a href="/home"><%= __('Home') %></a>
                            <% } %>
                        </li>
                        <% if (typeof(offices.items) !== 'undefined' && typeof(offices) !== 'undefined' && offices && offices.items) { %>
                            <li class="dropdown" title="<%= __('Office') %>">
                                <% offices.items.forEach(function(office) { %>
                                    <% if (typeof(officeId) !== 'undefined' && officeId == office.id) { %>
                                        <a href="#" class="dropdown-toggle opacity-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= office.area %><span class="caret"></span></a>
                                     <% } %>
                                <% }) %>
                                <% if (typeof(officeId) === 'undefined') { %>
                                    <a href="#" class="dropdown-toggle opacity-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Framgia<span class="caret"></span></a>
                                <% } %>
                                <ul class="dropdown-menu info-office">
                                    <li id="wp-6"><a href="/home/all_office" class="office-dropdow-a">Framgia</a></li>
                                    <% offices.items.forEach(function(office) { %>
                                        <% switch (office.area) {
                                            case 'Tran Khat Chan': %>
                                                <li id="wp-1"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                            <% break;
                                            case 'Da Nang Office': %>
                                                <li id="wp-2"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                            <% break;
                                            case 'Hanoi Office': %>
                                                <li id="wp-3"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                            <% break;
                                            case 'HCMC Office': %>
                                                <li id="wp-4"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                            <% break;
                                            case 'Handico Office': %>
                                                <li id="wp-5"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                            <% break;
                                            default: %>
                                                <li id="wp-6"><a href="/home?officeId=<%= office.id %>" class="office-dropdow-a"><%= office.area %></a></li>
                                        <% } %>
                                    <% }) %>
                                </ul>
                            </li>
                        <% } %>
                        <li title="<%= __('Mobile') %>">
                            <a target="_blank" href="/users/fbook_app" class="icon-header"><span><i class="icofont icofont-iphone nav-icon"></i></span></a>
                        </li>
                        <li title="<%= __('Language') %>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><img src="/images/vietnam.png" class="image-flag-be" id="myImage"></span></a>
                            <ul class="dropdown-menu language">
                                <li>
                                    <a href="/change-lang/vi" class="text-i18n" data-img="/images/vietnam.png" data-lang="vi">
                                        <img class="image-choose" src="/images/vietnam.png"/><span>VietNam</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/change-lang/en" class="text-i18n" data-img="/images/english.png" data-lang="en">
                                        <img class="image-choose" src="/images/english.png"/><span>English</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/change-lang/jp" class="text-i18n" data-img="/images/nhatban.png" data-lang="jp">
                                        <img class="image-choose" src="/images/nhatban.png"/><span>日本語</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li data-toggle="tooltip" title="<%= __('More tools') %>">
                            <a target="_blank" href="https://wsm.framgia.vn/all-tools" class="icon-header">
                            <img src="/images/app_icon.png" class="icofont-fw nav-icon nav-moretoolicon"></a>
                        </li>
                        <% if (typeof user != 'undefined' && typeof user.name !== 'undefined' && user.name) { %>
                            <li data-toggle="tooltip" title="<%= __('Notifications') %>">
                                <a href="#" class="dropdown-toggle notification_onclick_icon dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o nav-icon"></i>
                                </a>
                                <span class="badge active-notification count_Notifications" id="notification_<%=user.id%>"></span>
                                <ul class="dropdown-menu dropdown-menu-notification">
                                    <div class="arrow-up-border"></div>
                                    <div class="arrow-up"></div>
                                    <div class="notifi-popup clearfix">
                                        <span class="text-color-noti notifi-headers"> <%= __('Notifications') %> </span>
                                        <input type="button" class="button-seen" onclick="return mark_read_all_notifications()" value="<%= __('Mark all as read') %>">
                                    </div>
                                    <div id="box_dropdown_noti" class="scroll-dropdown-noti"></div>
                                    <li>
                                        <a href="/notifications" class="text-color-noti dropdown-notification-footer clearfix"><%= __('view all') %></a>
                                    </li>
                                </ul>
                            </li>
                            <li title="<%= __('Share books')%>">
                                <a href="/books/add" class="nav-icon"><i class="glyphicon glyphicon-plus"></i></a>
                            </li>
                        <% }
                        else { %>
                            <li>
                                <a href="/login"><%= __('Login with WSM') %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="space-70"></div>
    <!-- Header-jumbotron-end -->
    <% if (typeof(isHomePage) !== 'undefined' && isHomePage) { %>
        <%- include header_search.ejs %>
    <% } %>
</header>
