<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof pageTitle !== 'undefined' ? pageTitle + ' - FBook' : 'FBook - Framgia' %></title>
    <meta name="description" content="<%= __('For Framgia-ers who want to share and discuss about books') %>">
    <meta name="keywords" content="fbook, framgia fbook, muon sach noi bo">
    <meta name="author" content="Framgia">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/icofont.min.css">
    <link rel="stylesheet" href="/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="/bower/cardslider/dist/css/cardslider.css">
    <link rel="stylesheet" href="/bower/ResponsiveSlides/responsiveslides.css">
    <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/overright.min.css">
    <link rel="stylesheet" href="/css/theme.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/responsive.min.css">
    <link rel="stylesheet" href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <% if(locals.appCss) { %>
        <%- appCss %>
    <% }%>

    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var i18n;
        function readTextFile(file)
        {
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        i18n = JSON.parse(allText);
                    }
                }
            }
            rawFile.send(null);
        }
    </script>
</head>
<body data-spy="scroll" data-target="#mainmenu" data-offset="50">
    <script type="text/javascript">
        if (typeof imgBackUp === 'undefined') {
            function imgBackUp(e) {
                e.src = 'http://wsm.framgia.vn//assets/user_avatar_default-bc6c6c40940226d6cf0c35571663cd8d231a387d5ab1921239c2bd19653987b2.png';
            }
        }
        
        if (typeof showNotify === 'undefined') {
            function showNotify(type, message, option, setting) {
                if (!!message) {
                    option.message = message;
                }
                if (!!type) {
                    setting.type = type;
                }
                if (typeof setting.offset === 'undefined' || setting.offset === null) {
                    setting.offset = {x: 50, y: 80};
                }
                $.notify(option, setting);
            }
        }

        function getCookie(cname) {
            var name = cname + '=';
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return '';
        }

        var lang = getCookie('lang');
        
        function setLanguage(lang) {
            document.cookie = 'language=' + lang +';max-age=9000';
        }

        if (lang === undefined || lang === null) {
            $('#myImage').attr('src', '/images/vietnam.png');
            readTextFile('/javascripts/i18n/vi.json');
        } else {
            langText = '';
            switch (lang) {
                case 'en':
                    langText = '/images/english.png';
                    break;
                case 'vi':
                    langText = '/images/vietnam.png';
                    break;
                case 'jp':
                    langText = '/images/nhatban.png';
                    break;
                default:
                    langText = '/images/vietnam.png';
                    break;
            }
            if (lang == '') {
                readTextFile('/javascripts/i18n/vi.json');
            } else {
                readTextFile('/javascripts/i18n/' + lang + '.json');
            }
        }

        var API_PATH = "<%= configs.api_base_url %>";
        var access_token, user = null;

        <% if(typeof(locals.access_token) !== 'undefined') { %>
            access_token = "<%= locals.access_token %>";
            user = JSON.parse('<%- JSON.stringify(locals.user) %>');
        <% } %>

        var configs = JSON.parse('<%- JSON.stringify(configs) %>');

        $.fn.andSelf = function() {
            return this.addBack.apply(this, arguments);
        }
    </script>

    <%- include header.ejs %>
    
    <%- body %>

    <%- include footer.ejs %>

    <!-- Plugin-JS -->
    <script type="text/javascript" src="/bower/ResponsiveSlides/responsiveslides.min.js"></script>
    <script type="text/javascript" src="/bower/cardslider/dist/js/jquery.cardslider.min.js"></script>
    <script type="text/javascript" src="/bower/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="/bower/scrollup/dist/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="/bower/wow/dist/wow.min.js"></script>
    <script type="text/javascript" src="/bower/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/bower/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/bower/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <!-- Active-JS -->
    <script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/javascripts/users/notification.js"></script>
    <script type="text/javascript" src="/javascripts/users/notification_dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/listen_event_pusher.js"></script>
    <script type="text/javascript" src="/javascripts/books/search.js"></script>
    <script type="text/javascript" src="/javascripts/books/upload_image.js"></script>
    <script type="text/javascript" src="/javascripts/plugins.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <% if (locals.appjs) { %>
        <%- appjs %>
    <% } %>

    <% if (typeof info != 'undefined' && info != '') { %>
        <script type="text/javascript">
            showNotify('success', '<%= info %>', {icon: 'glyphicon glyphicon-ok'}, {delay: 1000})
        </script>
    <% } %>
    <% if (typeof error != 'undefined' && error != '') { %>
        <script type="text/javascript">
            showNotify('danger', '<%= error %>', {icon: 'glyphicon glyphicon-remove'}, {delay: 2000})
        </script>
    <% } %>
    <script type="text/javascript">
        $('.text-i18n').on('click', function() {
            setLanguage($(this).data('lang'));
        });
        $('#myImage').attr('src', langText);
    </script>
</body>
</html>
