<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof pageTitle !== 'undefined' ? pageTitle + ' - FBook' : 'FBook - Framgia' %></title>
    <meta name="description" content="
    Dành cho Framgia-ers những người mong muốn chia sẻ sách và thảo luận đọc sách.">
    <meta name="keywords" content="fbook, framgia fbook, muon sach noi bo">
    <meta name="author" content="Framgia">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/icofont.css">
    <link rel="stylesheet" href="/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="/bower/cardslider/dist/css/cardslider.css">
    <link rel="stylesheet" href="/bower/ResponsiveSlides/responsiveslides.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/overright.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <% if(locals.appCss) { %>
        <%- appCss %>
    <% }%>
</head>

<body data-spy="scroll" data-target="#mainmenu" data-offset="50">

<!--Begin header-->
<%- include header.ejs %>
<!--End header-->

<%- body %>

<!--Begin footer-->
<%- include footer.ejs %>
<!--End footer-->

<!-- Vendor-JS -->
<script type="text/javascript">
    function imgBackUp(e) {
        e.src = 'http://wsm.framgia.vn//assets/user_avatar_default-bc6c6c40940226d6cf0c35571663cd8d231a387d5ab1921239c2bd19653987b2.png';
    }
</script>
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var API_PATH = "<%= configs.api_base_url %>";
    var access_token, user = null;

    <% if(typeof(locals.access_token) !== 'undefined') { %>
        access_token = "<%= locals.access_token %>";
        user = JSON.parse('<%- JSON.stringify(locals.user) %>');
    <% } %>

    var configs = JSON.parse('<%- JSON.stringify(configs) %>');

    $.fn.andSelf = function() {
        return this.addBack.apply(this, arguments);
    }
</script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Plugin-JS -->
<script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="/bower/ResponsiveSlides/responsiveslides.min.js"></script>
<script type="text/javascript" src="/bower/cardslider/dist/js/jquery.cardslider.min.js"></script>
<script type="text/javascript" src="/bower/twbs-pagination/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/bower/scrollup/dist/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/bower/wow/dist/wow.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<script type="text/javascript" src="https://js.pusher.com/4.1/pusher.min.js"></script>
<!-- Active-JS -->
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/users/notification.js"></script>
<script type="text/javascript" src="/javascripts/users/notification_dropdown.js"></script>
<script type="text/javascript" src="/javascripts/listen_event_pusher.js"></script>
<script type="text/javascript" src="/javascripts/books/search.js"></script>
<script type="text/javascript" src="/javascripts/books/upload_image.js"></script>
<script type="text/javascript" src="/bower/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/bower/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower/modernizr/modernizr.js"></script>

<% if(locals.appjs) { %>
    <%- appjs %>
<% } %>
<script type="text/javascript">
    function showNotify(type, message, option, setting) {
        if (!!message) {
            option.message = message;
        }
        if (!!type) {
            setting.type = type;
        }
        if (typeof setting.offset === 'undefined' || setting.offset === null) {
            setting.offset = {x: 50, y: 80};
        }
        $.notify(option, setting);
    }
</script>
<% if (typeof info != 'undefined' && info != '') { %>
    <script type="text/javascript">
        showNotify('success', "<%= info %>", {icon: "glyphicon glyphicon-ok"}, {delay: 1000})
    </script>
<% } %>
<% if (typeof error != 'undefined' && error != '') { %>
    <script> type="text/javascript"
        showNotify('danger', "<%= error %>", {icon: "glyphicon glyphicon-remove"}, {delay: 2000})
    </script>
<% } %>
</body>
</html>
