<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= typeof pageTitle !== 'undefined' ? pageTitle + ' - FBook' : 'FBook - Framgia' %></title>
        <meta name="description" content="
            Dành cho Framgia-ers những người mong muốn chia sẻ sách và thảo luận đọc sách.">
        <meta name="keywords" content="fbook, framgia fbook, muon sach noi bo">
        <meta name="author" content="Framgia">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

        <!-- Plugin-CSS -->
        <link rel="stylesheet" href="/bower/bootstrap4/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower/fox-adm-style/css/bootstrap-extend.css">
        <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bower/Ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="/bower/fox-adm-style/css/master_style.css">
        <link rel="stylesheet" href="/bower/fox-adm-style/css/skins.css">
        <link rel="stylesheet" href="/bower/cardslider/dist/css/cardslider.css">
        <link rel="stylesheet" href="/bower/ResponsiveSlides/responsiveslides.css">
        <link rel="stylesheet" href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="/bower/bootstrap-daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="/bower/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css">
        <link rel="stylesheet" href="/bower/jquery-toast-plugin/dist/jquery.toast.min.css">

        <!-- Google-Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <!-- Main-Stylesheets -->
        <link rel="stylesheet" href="/css/admin/admin.css">
        <% if(locals.appCss) { %>
        <%- appCss %>
        <% }%>
    </head>
    <body class="hold-transition skin-yellow sidebar-mini relative-postion">

        <!--Begin header-->
        <%- include header.ejs %>
        <!--End header-->

        <!-- Begin side-panel -->
        <% include control_panel.ejs %>
        <!-- End side-panel -->

        <div class="content-wrapper">
            <%- body %>
        </div>

        <!--Begin footer-->
        <%- include footer.ejs %>
        <!--End footer-->

        <!-- Vendor-JS -->
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        <script type="text/javascript">
            var API_PATH = "<%= configs.api_base_url %>";
            var access_token, user = null;

            <% if(typeof(locals.access_token) !== 'undefined') { %>
                access_token = "<%= locals.access_token %>";
                user = JSON.parse('<%- JSON.stringify(locals.user) %>');
            <% } %>

            var configs = JSON.parse('<%- JSON.stringify(configs) %>');

            $.fn.andSelf = function() {
                return this.addBack.apply(this, arguments);
            }

        </script>


        <!-- Plugin-JS -->
        <script src="/bower/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <script src="/bower/popper.js/dist/umd/popper.min.js"></script>
        <script src="/bower/bootstrap4/dist/js/bootstrap.min.js"></script>
        <script src="/bower/Chart.js/Chart.min.js"></script>
        <script src="/bower/jquery.sparkline/index.js"></script>
        <script src="/bower/jquery-knob/dist/jquery.knob.min.js"></script>
        <script src="/bower/moment/min/moment.min.js"></script>
        <script src="/bower/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/bower/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/bower/fastclick/lib/fastclick.js"></script>
        <script src="/bower/fox-adm-style/js/template.js"></script>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <script src="/bower/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/javascripts/admin/admin.js"></script>
        <% if (typeof info != 'undefined' && info != '') { %>
        <script>
            showNotify("<%= info %>", 'info', 3000);
        </script>
        <% } %>
        <% if (typeof error != 'undefined' && error != '') { %>
        <script>
            showNotify("<%= error %>", 'error', 3000);
        </script>
        <% } %>

        <% if(locals.appjs) { %>
        <%- appjs %>
        <% } %>
    </body>
</html>
