<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FBook</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only"><%= __('Toggle navigation') %></span>
        </a>

        <div class="navbar-custom-menu">
            <ul id="info-section" class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle view-notify" data-toggle="dropdown">
                        <i class="fa fa-bell up-size"></i>
                        <span class="label label-warning label-red count_Notifications" id="notification_<%=user.id%>">0</span>
                    </a>
                    <ul class="dropdown-menu scale-up noti-content">
                        <li class="header">
                            <%= __('You have') %> <span class="count_Notifications">0</span> <%= __('new notifications') %>
                            <span class="pull-right padding-left-10 info-color" onclick="return markAsRead()"><%= __('Mark all as read') %></span>
                        </li>
                        <li id="noti-list">
                            <div class="overlay text-center">
                                <i class="fa fa-refresh fa-spin loading-icon"></i>
                            </div>
                        </li>
                        <li class="footer"><a href="/notifications" class="info-color"><%= __('view all') %></a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="<%= user.avatar %>" class="user-image rounded-circle" alt="User Image">
                    </a>
                    <ul class="dropdown-menu scale-up">
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                <a href="/logout" class="btn btn-block btn-danger"><%= ('Sign out') %></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
